.image {
  display: block;
  height: auto;
  margin: 0 auto;
  width: auto;
}

.logo {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 100%;
}

.menuLinkIcon {
  background-color: #3EB1C8;
  border-radius: 10px;
  height: 40px;
  padding: 8px;
  width: 40px;
}
